@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  background-color: var(--Light-Grayish-Blue);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
}

p {
  letter-spacing: 0.3px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

.main {
  min-height: 100vh;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 100%;
  max-width: 83rem;
  border-radius: 1rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__img-container {
  overflow: hidden;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.card__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__content {
  padding: 4rem 4.5rem;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  position: relative;
}

.card__heading {
  color: var(--Very-Dark-Grayish-Blue);
  font-size: 2.3rem;
  line-height: 1.4;
  nav-down: 700;
}

.card__paragraph {
  margin: 1.5rem 0rem 2.2rem;
  color: var(--Desaturated-Dark-Blue);
  font-weight: 500;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
}

.card__user-img {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  margin-right: 2rem;
  display: block;
  border-radius: 100%;
}

.card__user-name {
  font-weight: 700;
  color: var(--Very-Dark-Grayish-Blue);
}

.card__date {
  color: var(--Grayish-Blue);
}

.card__btn-wrapper {
  border-radius: 100%;
  position: absolute;
  z-index: 200;
  right: 4rem;
  bottom: 4rem;
}

.card__btn {
  --size: 3.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: var(--Light-Grayish-Blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__btn:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.card__btn.active {
  background-color: var(--Desaturated-Dark-Blue);
}

.card__btn.active svg path {
  fill: var(--Light-Grayish-Blue);
}

.card__links {
  padding: 1.8rem 4rem;
  position: absolute;
  z-index: 100;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -4.1rem);
          transform: translate(-50%, -4.1rem);
  background-color: var(--Very-Dark-Grayish-Blue);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

.card__links::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0rem;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  --size: 0.1rem;
  width: var(--size);
  height: var(--size);
  border: 1.5rem solid var(--Very-Dark-Grayish-Blue);
  border-bottom: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.card__link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__link-item:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.card__link-item:nth-child(1) a {
  font-weight: 700;
  color: var(--Grayish-Blue);
  letter-spacing: 2px;
}

.card__link-item + .card__link-item {
  margin-left: 2rem;
}

@media screen and (max-width: 980px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 43rem;
  }
  .card__img-container {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0;
    max-height: 28rem;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .card__img {
    -o-object-position: 0px -2rem;
       object-position: 0px -2rem;
  }
  .card__content {
    padding: 3rem 3rem 2.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .card__paragraph {
    margin: 2rem 0rem 3rem;
  }
  .card__btn-wrapper {
    right: 3rem;
    bottom: 2.5rem;
  }
  .card__links {
    width: 100%;
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
    position: absolute;
    bottom: 0rem;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    display: none;
    opacity: 1;
    border-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .card__links::before {
    display: none;
  }
}

@media screen and (max-width: 330px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 50%;
  }
  .card__user-img {
    margin-right: 1rem;
  }
  .card__user-name {
    max-width: 9rem;
  }
  .card__btn-wrapper {
    right: 2rem;
    right: 3rem;
  }
  .card__link-item + .card__link-item {
    margin-left: 1.5rem;
  }
}
